<h1>フォロー</h1>
<% if @users.present? %>
  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <%= user.name %>
    <% end %>
    フォロー数:<%= user.following.count %>
    フォロワー数:<%= user.followers.count %>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %> 