/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
// フッター最下部表示 (html.body.footer)
html {
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}

body {
  margin-bottom: 3em;
}

.top-container {
  background-image: image-url("courtney.jpg");
  height: 710px;
  background-size: cover;
  background-position: 50% 80%;
  text-align: center;
  padding-top: 250px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0;
}
